<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Danke für Ihren Einkauf.</h1>
    <p class="lead text-muted">Bald senden wir Ihnen eine Bestätigung per Email. Mit Ihrem Einkauf helfen Sie Uherinwohnern in Chile.</p>
    <p>
      <%=link_to '<i class="fas fa-angle-left"></i> Weiter Einkaufen'.html_safe, store_index_path ,class:'btn btn-warning float-left' %>

      <%= link_to 'My orders', users_added_path(:id => @user), method: :get, class:'btn btn-dark float-right'%>
    </p>
  </div>
</section>

<section id="recomendation">
  <!-- to do, other users also bought. Temporary replaced with catalog -->
  <div class="container">
    <h2>Andere Nutzer haben auch gekauft</h2>
    <br/>
    <table class="table table-hover table-condensed">
      <thead>
        <tr></tr>
      </thead>
      <div>
        <tbody >
          <%=render(@products)%>
        </tbody>
      </div>
      <tfoot></tfoot>
    </table>
  </div>
</section>
