<div data-turbolinks="false">
<div class="container">

  <div class="py-5 text-center">
    <!--<im class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72">">-->
    <h2>Rechnnungsdaten</h2>
    <p class="lead">Bitte füllen sie das Formular aus.</p>
  </div>
  <div class="row">
    <div class="col-md-8 order-md-1">
      <%= render 'form', order: @order %>
    </div>
    <div class="col-md-4 order-md-2 mb-4">
      <%= render 'carts/minicart' %>
    </div>
  </div>
</div>
