<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Danke, Ihr Produkt ist im Einkaufswagen</h1>
    <p class="lead text-muted">Mit Ihrem Einkauf helfen Sie Uherinwohnern in Chile.</p>
    <p>
      <%=link_to '<i class="fas fa-angle-left"></i> Weiter Einkaufen'.html_safe, store_index_path ,class:'btn btn-warning float-left' %>

      <%= link_to 'Check Out <i class="fas fa-angle-right"></i>'.html_safe, new_order_path, method: :get, class:'btn btn-success float-right'%>
    </p>
  </div>
</section>

<section id="recomendation">
  <!-- to do, recomendation and other users also bought. Temporary replaced with catalog -->
  <div class="container">
    <h2>Ihnen recomendationen</h2>
    <br/>
    <table class="table table-hover table-condensed">
      <thead>
        <tr></tr>
      </thead>
      <div>
        <tbody >
          <%=render(@products)%>
        </tbody>
      </div>
      <tfoot></tfoot>
    </table>
  </div>
</section>
